{% load static %}
<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <title>Document</title>
</head>
<body>
  <form action="{% url 'matchs:match_start' id %}" method="post">
    {% csrf_token %}
    {% for match_members in start_match_list %}
    <button name=btn_game{{forloop.counter}}_end type="submit" class="btn btn-primary", >コート{{forloop.counter}}終了</button> 
    　<caption>コート{{forloop.counter}}</caption>
      <table class="table">
          <thead>
            <tr>
              <th scope="col">青コーナー</th>
              <th scope="col">赤コーナー</th>
            </tr>
          </thead>
          <tbody>
            {% for team in match_members %}
            <tr>
                {% for name in team %}
                  <td>{{name}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
          </tbody>
      </table> 
    {% endfor %} 
    <button name=btn_start type="submit" class="btn btn-primary">start</button> 
    </form>
  </body>
</html>
