{% extends "common/base.html"%}
{% load static %}
<html>
    <body>
        {% block content %}
        <form action="{% url "matchs:match_continue" %}" method="post">
            {% csrf_token %}
            {% if not matchs %}
            <font size=5> まだ乱数表は作られていません。</font>
            <br>
            <br>
            {% else %}
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">名前</th>
                    <th scope="col">コート数</th>
                    <th scope="col">作成日時</th>
                    <th scope="col">更新日時</th>
                    <th scope="col">     </th>
                  </tr>
                </thead>
                <tbody>
                  {% for match in matchs %}
                  <tr>
                    <td>{{match.match_name}}</td>
                    <td>{{match.number_of_court}}</td>
                    <td>{{match.created_at}}</td>
                    <td>{{match.update_at}}</td>
                    <td><button name=match type="submit" class="btn btn-primary" value={{match.id}}>選択する</button></td>
                  </tr>
                  {% endfor %}
                </tbody>
            </table> 
            {% endif %}
        <input type="button" value="ホームに戻る" class="btn btn-primary" onClick="location.href='{% url 'common:home' %}'">
          </form>
        {% endblock %}
    </body>
</html>
