{% extends "common/base.html"%}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <title>Document</title>
</head>
<body>
    <body>
        {% block content %}
<form action="{% url 'matchs:match_create' %}" method="post">
    {% csrf_token %}
    <div class="form-group>
      <label for="matchname">試合名</label>
      <input name="match_name", type="text" class="form-control" id="matchname" placeholder="試合名" required value={{match_name}}>
    </div>
    <div class="form-group">
      <label for="number_of_court">コート数</label>
      <input name="number_of_court", type="number", class="form-control", id="list_0", placeholder="コート数", required value={{number_of_court}}>
    </div>
  {%for name in members%}
  <div id="input_pluralBox">
    <label for="number_of_court">メンバー名</label>
    <div id="input_plural">
        <input name="member_name" type="text" class="form-control" id="InputNumberOfCourt" placeholder="メンバー名", required value={{name}}>
        <input type="button" value="＋" class="add pluralBtn">
        <input type="button" value="－" class="del pluralBtn">
    </div>
  </div>
  {% endfor %}
  <div id="input_pluralBox">
    <label for="number_of_court">メンバー名</label>
    <div id="input_plural">
        <input name="member_name", type="text" class="form-control" id="InputNumberOfCourt" placeholder="メンバー名", required>
        <input type="button" value="＋" class="add pluralBtn">
        <input type="button" value="－" class="del pluralBtn">
    </div>
  </div>
  <button name="start" type="submit" class="btn btn-primary">ゲーム開始</button>
  <input type="button" value="リセット" class="btn btn-primary" onClick="location.href='{% url 'matchs:match_create' %}'">
  <input type="button" value="ホームに戻る" class="btn btn-primary" onClick="javascript:history.go(-1);">
      {% for message in messages %}
        <div class="alert alert-danger" role="alert">
          <p class="mb-0">{{ message }}</p>
        </div>
      {% endfor %}
</form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">
$(document).on("click", ".add", function() {
    $(this).parent().clone(true).insertAfter($(this).parent());
});
$(document).on("click", ".del", function() {
    var target = $(this).parent();
    if (target.parent().children().length > 1) {
        target.remove();
    }
});
</script>
{% endblock content %}
    </body>
</body>
</html>
