{% extends "common/base.html"%}
{% load static %}
<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <title>Document</title>
</head>
{% block content %}
<body>
  <form class="form-inline" action="{% url 'matchs:match_start' match.id %}" method="post">
    {% csrf_token %}
    {% for match in match.match_list %}
    <label id=inputredscore>スコア</label>
      <table class="table">
          <thead>
            <tr>
              <th scope="col">コート{{forloop.counter}}</th>
              <th scope="col"></th>
            </tr>
            <tr>
              <td scope="col" class="table-info">青コーナー</td>
              <td scope="col" class="table-danger">赤コーナー</td>
            </tr>
          </thead>
          <tbody>
            {% for team in match %}
            <tr>
                {% for name in team %}
                  <td class="table-light">{{name}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
          </tbody>
      </table> 
      <div class="row">
        <div class="form-group col-md-1">
          <label for="inputredscore">試合スコア</label>
          <input name="redscore"type="number" class="form-control" id="inputredscore" placeholder="赤">
        </div>
        <div class="form-group col-md-1">
          <label for="inputbluescore"></label>
          <input name="bluescore"type="number" class="form-control" id="inputbluescore" placeholder="青">
        </div>
        {% for message in messages %}
        <div class="alert alert-danger" role="alert">
          <p class="mb-0">{{ message }}</p>
        </div>
        {% endfor %}
      </div>
      <div class="mt-3">
    <button name=btn_game{{forloop.counter}}_end type="submit" class="btn btn-primary", >コート{{forloop.counter}}終了</button>
  </div>
    {% endfor %}
    <div class="mt-3">
      <button name="btn_update" type="submit" class="btn btn-primary">修正する</button>
      <button name="btn_random" type="submit" class="btn btn-primary">ランダム</button> 
      <button name="btn_end" type="submit" class="btn btn-primary">終了</button> 
    </div>
    </form>
  </body>
  {% endblock %}
</html>
