{% extends "common/base.html"%}
{% load static %}
<html>
    {% block content %}
    <font size="6">ログイン</font>
    <body>
    <form method="post" action="{% url 'users:login' %}" class="form-group">
      {% csrf_token %}
      {% if form.non_field_errors %}
        <div class="alert alert-danger" role="alert">
          {% for error in form.non_field_errors %}
            <p{% if forloop.last %} class="mb-0"{% endif %}>{{ error }}</p>
          {% endfor %}
      {% endif %}
        </div>
      {% for item in form %}
          <div class="form-group">
              <label for="{{item.id_for_label}}">{{item.label}}</label>
              <input
                  type="{{item.field.widget.input_type}}"
                  class="form-control"
                  {% if item.field.required %}required{% endif %}
                  name="{{item.name}}"
                  id="{{item.id_for_label}}">
          </div>
      {% endfor %}
      <br>
      <div>
      <a href="{% url 'common:guest_home' %}">登録せずに使う</a>
      <a href="{% url 'users:signup' %}">会員登録</a>
      </div>
      <button type="submit" class="submit btn btn-primary">ログイン</button>
      <input type="hidden" name="next" value="{{ next }}"/>
      <input type="button" value="ホームに戻る" class="btn btn-primary" onClick="location.href='{% url 'common:home' %}'">
  </form>
</body>
{% endblock %}
</html>
