{% extends "common/base.html" %}
{% block content %}
<form action="" method="POST">
    <font size="5">パスワード変更のメール送信</font>
    {{ form.non_field_errors }}
    {% for field in form %}
    <div class="form-group">
        <label for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
        {{ field }}
        {{ field.errors }}
        {% if item.label == "新しいパスワード" %}
            <font size="2"> ※8文字以上かつ数字以外を含めて下さい</font>
        {% endif %}
    </div>
    {% endfor %}
    {% csrf_token %}
    <button type="submit" class="btn btn-primary btn-lg"  onClick="location.href='{% url 'users:password_reset_done' %}'">送信</button>
</form>
{% endblock %}
