{% extends "common/base.html" %}
{% block content %}
<br>
<h2>パスワードを再設定する</h2>
<br>
<form method="post">
{% csrf_token %}
{% for item in form %}
    <div class="form-group">
    <label for="{{item.id_for_label}}">{{item.label}}</label>
    <input
        type="{{item.field.widget.input_type}}"
        class="form-control"
        {% if item.field.required %}required{% endif %}
        name="{{item.name}}"
        id="{{item.id_for_label}}">
    </div>
{% endfor %}
<button type="submit" class="submit btn btn-primary">再設定</button>
</form>
{% endblock %}
