{% extends "common/base.html"%}
{% load static %}
<html>
    {% block content %}
    <font size="6">ユーザー登録</font>
    <body>
      <form method="post" action="{% url 'users:signup' %}" class="form-group">
        {% csrf_token %}
        {% if form.non_field_errors %}
        <div class="alert alert-danger" role="alert">
          {% for error in form.non_field_errors %}
            <p{% if forloop.last %} class="mb-0"{% endif %}>{{ error }}</p>
          {% endfor %}
        {%endif%}
      {% for error in form.title.errors %}
      <ul>
        <div class="alert alert-danger" role="alert">
          <li>
            {{ error }}
          </li>
        </ul>
      {% endfor %}
        {% for item in form %}
            <div class="form-group">
                <label for="{{item.id_for_label}}">{{item.label}}</label>
                <input
                    type="{{item.field.widget.input_type}}"
                    class="form-control"
                    {% if item.field.required %}required{% endif %}
                    name="{{item.name}}"
                    id="{{item.id_for_label}}">
                {% if item.label == "パスワード" %}
                <font size="2"> ※8文字以上かつ数字以外を含めて下さい</font>
                {% endif %}
            </div>
        {% endfor %}
        {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                 {% endfor %}
            {% endif %}
        <button type="submit" class="submit btn btn-primary">会員登録</button>
        <input type="button" value="ホームに戻る" class="btn btn-primary" onClick="location.href='{% url 'common:home' %}'">
    </form>
  </body>
  {% endblock %}
    </html>
