{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>ユーザー登録</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    </head>
    {% block content %}
    <body>
      <form method="post" action="{% url 'users:signup' %}" class="form-group">
        {% csrf_token %}
        {% if form.non_field_errors %}
          <div class="alert alert-danger" role="alert">
            {% for error in form.non_field_errors %}
              <p{% if forloop.last %} class="mb-0"{% endif %}>{{ error }}</p>
            {% endfor %}
          </div>
        {% endif %}
        {% for item in form %}
            <div class="form-group">
                <label for="{{item.id_for_label}}">{{item.label}}</label>
                <input
                    type="{{item.field.widget.input_type}}"
                    class="form-control"
                    {% if item.field.required %}required{% endif %}
                    name="{{item.name}}"
                    id="{{item.id_for_label}}">
            </div>
        {% endfor %}
        <button type="submit" class="submit btn btn-primary">会員登録</button>
        <input type="hidden" name="next" value="{{ next }}"/>
    </form>
  </body>
  {% endblock %}
    </html>
